@charset "UTF-8";

@media screen and (min-width: 768px) {
    i#burguer {
        display: none; /*FAZER O HAMBUGUER SUMNIR*/
    }

    menu {
        display: block; /*QUANDO A TELA AUMENTAR O MENU NÃO IRÁ SUMIR*/
        
    }

    menu > ul > li {
        display: inline-block; /*O MENU FICARÁ UM AO LADO DO OUTRO*/
        
    }

    main {
        width: 768px; /*QUANDO A TELA AUMENTAR O CONTEUDO FICAR COM A LARGURA 768*/
    }
}